.ant-tree-title p {
  margin: 0;
}

.ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: transparent;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected,
.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.ant-tree .ant-tree-treenode-active .ant-tree-node-content-wrapper {
  outline: none;
}
