:root {
    color-scheme: dark;
}

body {
    overflow: hidden;
}

.viewport {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 1fr;
}

.panels {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "navigator inspector";
    grid-gap: 1em;
}

.navigator {
    grid-area: navigator;
    overflow-y: scroll;
}

.inspector {
    grid-area: inspector;
    overflow-y: scroll;
    padding-right: 1em;
}

.inspector .note p {
    white-space: pre-line;
}

.ant-table-content div.note {
    display: inline-block;
}

.ant-table-content p {
    margin: 0;
}

.ant-tag .note {
    display: inline-block;
}

.ant-tag .note p {
    margin: 0;
}

.ant-table-thead th {
    border-radius: 0 !important;
}
